@import "tailwindcss";

@font-face {
  font-family: "bold";
  src: url("/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "regular";
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "medium";
  src: url("/fonts/Poppins-Medium.ttf");
}

body {
  font-family: "regular";
}

.bold {
  font-family: "bold";
}

.regular {
  font-family: "regular";
}

.medium {
  font-family: "medium";
}

.swipe-btn {
  position: relative;
  overflow: hidden;
}

.swipe-btn::before {
  content: "";
  background-color: #23b2c7;

  position: absolute;
  top: -50%;
  left: -100%;
  width: 100%;
  height: 200%;
  border-radius: 50%;
  z-index: 0;
  transition: 0.3s ease;
}

.swipe-btn:hover::before {
  left: 0;
}

.box {
  position: relative;
  width: 350px;
  height: 250px;
  /* padding: 20px; */
  /* background-color: #fff; */
  box-sizing: border-box;
  overflow: hidden;

}

/* Top-left to bottom-right */
.box::before,
.box::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  border: 1px solid white;
  z-index: 1;
  pointer-events: none;
  transition: all 0.5s ease;
  opacity: 0;
}

.box::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.box::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

.box:hover::before,
.box:hover::after {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.bounce-btn:hover {
  animation: bounceClick 0.3s ease;
}

@keyframes bounceClick {
  0% {
    transform: scale(1);
  }



  50% {
    transform: scale(0.5);
  }

  80% {
    transform: scale(0.6);
  }

  90% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.bg-header {
  position: relative;
}

.bg-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

@keyframes splash {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }

  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

.animate-splash {
  animation: splash 0.6s ease-out forwards;
}

.slide-btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}

.slide-btn span {
  position: relative;
  z-index: 2;
}

.slide-btn::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #56cfe1;
  width: 100%;
  height: 100%;
  transition: top 0.3s ease;
  z-index: 1;
}

.slide-btn:hover::before {
  top: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  position: absolute;
  top: 50%;
  left: 150%;
  /* show on right of the icon */
  transform: translateY(-50%);
  white-space: nowrap;
  z-index: 1;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.progress-bar {
  position: relative;
}

.progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fdbc00;
}