@import "tailwindcss";

@font-face {
  font-family: "bold";
  src: url("/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "regular";
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "medium";
  src: url("/fonts/Poppins-Medium.ttf");
}

body {
  font-family: "regular";
}

.bold {
  font-family: "bold";
}

.regular {
  font-family: "regular";
}

.medium {
  font-family: "medium";
}

.swipe-btn{
  position: relative;
  overflow: hidden;
}
.swipe-btn::before{
  content: "";
  background-color: #23b2c7;
 
  position: absolute;
  top: -50%;
  left: -100%;
  width: 100%;
  height: 200%;
  border-radius: 50%;
  z-index: 0;
  transition: 0.3s ease;
}
.swipe-btn:hover::before{
  left: 0;
}